body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    color: #333;
    background-color: #fff;
    height: 5000px;
}
.text1{
    padding-left: 90px;
}
.nav-text1{
    font-size: 12px;
}
.text2{
    padding-right: 80px;
}
.bg-hero{
    background-repeat: no-repeat;
    background-image: url(https://chipblue.net/joomla/bitinvest/images/main-slider/slider2/slide1.jpg);
    background-size: cover;
    background-position: center top;
    width: 100%;
    height: 685px;
    opacity: 1;
}
#divA{
    background-color: black;
    width: 100%;
    height: 45px;
}
#divB{
    background-color: rgb(255,152,0);
    width: 100%;
    height: 130px;
}
.navdrop{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight:bold;
    font-size: 13px;
    list-style-type: none;
    border-top: 1px solid rgba(255,255,255,0.1);
    
}
.navli{
    padding: 0px 6px; 
}
.logo-hero{
    margin-left: 94px;
}
img.img-bit {
    padding: 90px 180px;
} 
span.span-text1{
    font-family: "Poppins",sans-serif;
    font-weight: bold;
    color: #fff;
    font-size: 50px;
    padding: 120px 40px;
    margin: 0px 10px;
}